/* adjust the contents on smaller devices */
@media (max-width: 768px) {

  .column .padding {
    padding: 7px;
  }

  .full {
    padding-top: 20px;
  }

  .navbar-blue {
    background-color: #3B5999;
    top: 0;
    width: 100%;
    position: relative;
  }

}
