html, body {
  height: 100%;
  font-family: verdana, arial, sans-serif;
  color: #555;
}

.nav {
  font-family: Arial, sans-serif;
  font-size: 13px;
}

a {
  color: #222;
}

a:hover {
  text-decoration: none;
}

hr {
  border-color: #DEDEDE;
}
