.navbar-blue
  border-width: 0
  background-color: #3B5999
  color: #FFF
  font-family: arial, sans-serif
  top: 0
  position: fixed
  right: 0
  left: 0

.navbar-blue li > a,
.navbar-toggle
  color: #EFEFEF

.navbar .active
  background: #2A4888

.navbar-blue .dropdown-menu li a
  color: #2A4888

  & > a
    padding-left: 30px

.navbar-blue li > a:hover, .navbar-blue li > a:focus, .navbar-blue .open, .navbar-blue .open > a, .navbar-blue .open > a:hover, .navbar-blue .open > a:focus {
  background: #2A4888
  color: #FFF
}

.pps-request-indicator
  width 100%
  height 100%
  position absolute
  top 0
  bottom: 0
  right 0
  left 0
  background indianred
  content 'FFFFFFFFFFFFFFFFFFFFFF'
  animation bounce 6s infinite ease-in-out
  z-index 9999
