/* bootstrap overriding */

h1, h2, h3
  font-weight 800

.navbar-toggle, .close
  outline 0

.navbar-toggle .icon-bar
  background-color #FFF

.btn-primary,
.label-primary,
.list-group-item.active,
.list-group-item.active hover,
.list-group-item.active focus
  background-color #3B5999
  color #FFFFFE

.btn-default
  color #666

.panel textarea,
.well textarea,
textarea.form-control
  resize none

.badge
  color #3B5999
  background-color #FFF

.badge hover,
.badge-inverse
  background-color #3B5999
  color #FFF

.jumbotron
  background-color transparent

.label-default
  background-color #DDD

.page-header
  margin-top 55px
  padding-top 9px
  border-top 1px solid #EEE
  font-weight 700
  text-transform uppercase
  letter-spacing 2px

.panel-default .panel-heading
  background-color #F9FAFB
  color #555

.col-sm-9.full
  width 100%

.modal-header, .modal-footer
  background-color #F2F2F2
  font-weight 800
  font-size 12px

.modal-footer i, .well i
  font-size 20px
  color #C0C0C0

.modal-body
  padding 0

.modal-body textarea.form-control
  resize none
  border 0
  box-shadow 0 0 0

small.text-muted
  font-family 'courier', 'courier-new', monospace
