.error-page
  margin 0 auto
  text-align center

  .error-code,
  .error-content
    //position absolute
    left 0
    right 0
    -webkit-transform translateZ(0)

  .error-code
    bottom 60%
    color #2D353C
    font-size 96px
    line-height 100px

  .error-content
    top 40%
    bottom 0
    padding 15px
    background #2D353C

  .error-message
    color $white
    font-size 24px

  .error-desc
    font-size 12px
    margin-bottom 1em
    color #647788
